Importing library

In [1]:
import pandas as pd

In [2]:
# Load social profiles data
social_df = pd.read_csv('data/customer_social_profiles.csv')

# Load transactions data
transactions_df = pd.read_csv('data/customer_transactions.csv')

In [3]:
# Remove leading 'A' from social_df IDs and convert to int
social_df['customer_id_new'] = social_df['customer_id_new'].str.lstrip('A').astype(int)

# Convert transaction IDs to int
transactions_df['customer_id_legacy'] = transactions_df['customer_id_legacy'].astype(int)

# Merge on cleaned IDs
merged_df = pd.merge(
    social_df,
    transactions_df,
    left_on='customer_id_new',
    right_on='customer_id_legacy',
    how='inner'
)

print(f"Merged dataset shape: {merged_df.shape}")
display(merged_df.head())

Merged dataset shape: (219, 11)

,customer_id_new,social_media_platform,engagement_score,purchase_interest_score,review_sentiment,customer_id_legacy,transaction_id,purchase_amount,purchase_date,product_category,customer_rating
0,190,Twitter,82,4.8,Neutral,190,1031,333,2024-01-31,Groceries,3.8
1,190,Twitter,82,4.8,Neutral,190,1140,401,2024-05-19,Sports,4.9
2,150,Facebook,96,1.6,Positive,150,1042,389,2024-02-11,Sports,NaN
3,150,Facebook,96,1.6,Positive,150,1046,177,2024-02-15,Books,3.6
4,162,Twitter,89,2.6,Positive,162,1079,101,2024-03-19,Books,4.2

Preview the Datasets

In [4]:
print("Social Profiles Data Sample:")
display(social_df.head())

print("\nTransactions Data Sample:")
display(transactions_df.head())

Social Profiles Data Sample:

,customer_id_new,social_media_platform,engagement_score,purchase_interest_score,review_sentiment
0,178,LinkedIn,74,4.9,Positive
1,190,Twitter,82,4.8,Neutral
2,150,Facebook,96,1.6,Positive
3,162,Twitter,89,2.6,Positive
4,197,Twitter,92,2.3,Neutral

Transactions Data Sample:

,customer_id_legacy,transaction_id,purchase_amount,purchase_date,product_category,customer_rating
0,151,1001,408,2024-01-01,Sports,2.3
1,192,1002,332,2024-01-02,Electronics,4.2
2,114,1003,442,2024-01-03,Electronics,2.1
3,171,1004,256,2024-01-04,Clothing,2.8
4,160,1005,64,2024-01-05,Clothing,1.3

Inspect Columns and Data Types

In [5]:
print("Social Profiles Columns:")
print(social_df.columns)

print("\nTransactions Columns:")
print(transactions_df.columns)

Social Profiles Columns:
Index(['customer_id_new', 'social_media_platform', 'engagement_score',
       'purchase_interest_score', 'review_sentiment'],
      dtype='object')

Transactions Columns:
Index(['customer_id_legacy', 'transaction_id', 'purchase_amount',
       'purchase_date', 'product_category', 'customer_rating'],
      dtype='object')

converting ID columns to same data type and Merge the Datasets

In [6]:
# Convert both ID columns to string type
social_df['customer_id_new'] = social_df['customer_id_new'].astype(str)
transactions_df['customer_id_legacy'] = transactions_df['customer_id_legacy'].astype(str)

# Now merge
merged_df = pd.merge(
    social_df,
    transactions_df,
    left_on='customer_id_new',
    right_on='customer_id_legacy',
    how='inner'
)

print(f"Merged dataset shape: {merged_df.shape}")
display(merged_df.head())

Merged dataset shape: (219, 11)

,customer_id_new,social_media_platform,engagement_score,purchase_interest_score,review_sentiment,customer_id_legacy,transaction_id,purchase_amount,purchase_date,product_category,customer_rating
0,190,Twitter,82,4.8,Neutral,190,1031,333,2024-01-31,Groceries,3.8
1,190,Twitter,82,4.8,Neutral,190,1140,401,2024-05-19,Sports,4.9
2,150,Facebook,96,1.6,Positive,150,1042,389,2024-02-11,Sports,NaN
3,150,Facebook,96,1.6,Positive,150,1046,177,2024-02-15,Books,3.6
4,162,Twitter,89,2.6,Positive,162,1079,101,2024-03-19,Books,4.2

Handle Missing Values & Clean Data

In [7]:
print("Missing values per column:")
print(merged_df.isnull().sum())

# Example: Fill missing values forward
merged_df.fillna(method='ffill', inplace=True)

# Or drop missing rows (choose one based on your dataset)
merged_df.drop(columns=['customer_id_legacy'], inplace=True)

Missing values per column:
customer_id_new             0
social_media_platform       0
engagement_score            0
purchase_interest_score     0
review_sentiment            0
customer_id_legacy          0
transaction_id              0
purchase_amount             0
purchase_date               0
product_category            0
customer_rating            19
dtype: int64

C:\Users\Djafari\AppData\Local\Temp\ipykernel_5092\2727651177.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  merged_df.fillna(method='ffill', inplace=True)

Feature Selection

In [8]:
# Example: Drop irrelevant columns if any
columns_to_drop = ['column_to_drop1', 'column_to_drop2']  # replace with real columns if needed
merged_df.drop(columns=columns_to_drop, inplace=True, errors='ignore')

Save the Merged Dataset

In [9]:
merged_df.to_csv('merged_customer_data.csv', index=False)
print("Merged dataset saved as 'merged_customer_data.csv'")

Merged dataset saved as 'merged_customer_data.csv'

In [10]:
# Drop the redundant customer ID column
merged_df.drop(columns=['customer_id_legacy'], inplace=True)

# Save the cleaned dataset
merged_df.to_csv('merged_customer_data_cleaned.csv', index=False)

print("Cleaned merged data saved as 'merged_customer_data_cleaned.csv'")

KeyError: "['customer_id_legacy'] not found in axis"